<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.f2fk.geofence_foreground_service">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <!-- exported=true is required so Google Play Services can deliver geofence transitions -->
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.f2fk.geofence_foreground_service.GEOFENCE_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
